<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Details</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .class-heading {
      text-align: center;
      margin-top: 20px;
      font-size: 24px;
      color: #333;
    }

    .student-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      padding: 10px;
    }

    .student-card {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      text-align: center;
      padding: 8px;
    }

    .student-image img {
      width: 50%;
      height: 90px;
      object-fit: fit;
      border-radius: 50%;
    }

    .student-details h3 {
      font-size: 15px;
      color: #333;
      margin: 5px 0; /* Reduced margin */
    }

    .student-details p {
      font-size: 14px;
      color: #666;
      margin: 5px 0; /* Reduced margin */
    }

    .extra-fields ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .extra-fields li {
      font-size: 12px;
      color: #777;
      margin: 3px 0; /* Reduced margin */
    }

    .page-break {
      page-break-before: always;
    }

    /* Responsiveness */
    @media (max-width: 768px) {
      .student-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 480px) {
      .student-grid {
        grid-template-columns: 1fr;
      }

      .student-details h3 {
        font-size: 12px;
      }

      .student-details p,
      .extra-fields li {
        font-size: 8px;
        margin: 2px 0; /* Reduced margin on small screens */
      }
    }
  </style>
</head>

<body>
  <% Object.entries(groupedByClass).forEach(([className, students]) => { %>
    <h1 class="class-heading">Class: <%= className %></h1>
    <div class="student-grid">
      <% students.forEach((student,index) => { %>
        <div class="student-card">
          <div class="student-image">
            <img src="<%= student.avatarUrl %>" alt="Student Image">
          </div>
          <div class="student-details">
            <h3><%= student.name %></h3>
            <p><strong>Roll No:</strong> <%= student.rollNo || "N/A" %></p>
             <div class="extra-fields">
              <ul>
                <% Object.entries(student.extraFields).forEach(([key, value]) => { %>
                  <li><strong><%= key %>:</strong> <%= value %></li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>

        <% if ((index + 1) % 10 === 0) { %>
          <div class="page-break"></div>
        <% } %>
  


      <% }) %>
    </div>

    
    <div class="page-break"></div> <!-- Add a page break after each class -->
  <% }) %>
</body>

</html>
