<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Details</title>
  <style>
    @page {
      size: A4;
      margin: 20px;
    }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f4f4f4;
    }
   
    .class-heading {
      text-align: center;
      margin: 20px 0;
      font-size: 24px;
      color: #333;
      position: relative;
    }

    .class-heading img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 50px;
      height: auto;
    }
    .student-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .student-card {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      width: calc(33.33% - 20px);
      margin: 10px;
      padding: 10px;
      box-sizing: border-box;
      page-break-inside: avoid;
    }
    .student-image img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
      margin: 0 auto;
      display: block;
    }
    .student-details h3 {
      font-size: 14px;
      color: #333;
      margin: 10px 0 5px;
      text-align: center;
    }
    .student-details p {
      font-size: 12px;
      color: #666;
      margin: 5px 0;
      text-align: center;
    }
    .qr-code {
      text-align: center;
      margin-top: 10px;
    }
    .qr-code p {
      font-size: 10px;
      margin-bottom: 5px;
    }
    .qr-code img {
      width: 90px;
      height: 90px;
    }
    @media print {
      .student-card {
        page-break-inside: avoid;
        break-inside: avoid;
      }
      .class-heading {
        page-break-before: always;
      }
    }
  </style>
</head>
<body>
  <% Object.entries(groupedByClass).forEach(([className, students]) => { %>
    <h1 class="class-heading"><%= heading %>
      <img src="https://cardpro.co.in/login.jpg" alt="Logo">
    
    </h1>
    <div class="student-grid">
      <% students.forEach((student, index) => { %>
        <div class="student-card">
          <div class="student-image">
            <img src="<%= student.avatarUrl %>" alt="Student Image">
          </div>
          <div class="student-details">
            <h3><%= student.name %></h3>
            <% if (heading === "All Records") { %>
              <p><strong>Class:</strong> <%= student.class %></p>
              <p><strong>Section:</strong> <%= student.section %></p>
            <% } %>
          </div>
          <div class="qr-code">
            <p>Please Scan QR For ID Card
              Updation</p>
            <img src="<%= student.qrCodeImage %>" alt="QR Code">
          </div>
        </div>
      <% }) %>
    </div>
  <% }) %>
</body>
</html>

